/* Skills.css */
.skills-wrapper {
  /* background-color: #1e1e1e; */
  padding: 60px 20px;
  /* min-height: 100vh; */
  margin:80px 150px ;
  text-align: center;
  color: white;
}

.section-title {
  font-size: 80px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Segoe UI', sans-serif;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.skill-box {
  background-color: #2b2b2b;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease; 
   box-shadow: 0 0 0 rgba(255, 94, 0, 0);
    
}

.skill-box:hover {
   
  /* box-shadow: 0 0 15px rgba(255, 94, 0, 0.6); */
    box-shadow: 0 0 15px rgba(255, 20, 147, 0.4);
    transform: translateY(-5px);
}

.skill-icon {
  font-size: 3.5rem;
  /* margin-bottom: 1px; */
}

.skill-name {
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  margin-bottom: 10px;
 
  font-family: 'Segoe UI', sans-serif;
}
